.cartHead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 0;
        p{
            height: 47px;
            background: $black;
            padding: 15px;
            border-radius: 6px;
            
        }
    }


.cartBar{
    background: $black;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
}

// Styling for items in cart
.item{
    ul{
        width: 89%;
        margin: 2% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price{
            width: 60px;
        }
        p{
            color: $lightGrey;
        }
    }
    .itemName{
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-between;
        img{
            border-radius: 6px;
            display: block;
        }
    }
    input{
        background: $black;
        color: $white;
        border: none;
        text-align: center;
        border-radius: 6px;
        height: 50px;
        width: 50px;
    }
}

.itemTwo{
    background: $black;
    border-radius: 6px;
    input{
        background: $darkGrey;
    }
}

.item{

    i{
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            color: $red;
        }
    }
}