.cartHead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 0;
        p{
            height: 47px;
            background: $darkTeal;
            padding: 15px;
            border-radius: 6px;
            color: $white;
            
        }
    }


.cartBarContent{
    background: $darkTeal;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    li{
        color: white;
        text-transform: uppercase;
    }
    @include tablet{
        display: none;
    }
}

// Styling for items in cart
.item{
    ul{
        width: 89%;
        margin: 2% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price{
            width: 60px;
        }
        p{
            color: $darkTeal;
        }
    }
    .itemName{
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-between;
        img{
            border-radius: 6px;
            display: block;
            height: 150px;
            width: 150px;
            object-fit: cover;
        }
    }

    input{
        background: $lightTeal;
        color: $darkGrey;
        border: none;
        text-align: center;
        border-radius: 6px;
        height: 50px;
        width: 50px;
    }
}

.item{
    @include tablet{
        ul{
            width: 95%;
            align-items: flex-start;
            height: 35vh;
            margin: 10% 3%;
            padding: 10px;
        }
    }
    @include smallTablet{
        ul{
            flex-direction: column;
        }
    }

}

.itemTwo{
    background: $lightTeal;
    border-radius: 6px;
    input{
        background: $white;
    }
}

.item{
    i{
        cursor: pointer;
        transition: 0.2s;
        &:hover, &:focus{
            color: $darkTeal;
        }
    }
}