header{
    background: $red;
    padding: 20px 0;
    .headerContent{
        display: flex;
        justify-content: space-between;
        .cartQuantity{
            display: flex;
            width: 80px;
            justify-content: space-between;
            align-items: center;
        }
    }
}

