@import './setup';
@import './colors';
@import './fonts';
@import './mixins';
@import './header';
@import './cart';
@import './checkout';

html{
    font-size: 62.5%;
}

body{
    background: $darkGrey;
}

.wrapper{
    max-width: 1380px;
    width: 90%;
    margin: 0 auto;
    @include bigPhone{
        width: 95%;
    }
}



