article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  color: #0B0B0B;
}

label, textarea, form, input {
  color: #0B0B0B;
  font-size: 1.6rem;
}

header h1 {
  font-size: 4rem !important;
  border-bottom: 2px dashed #fff;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.09em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "DM Serif Display", serif;
}

header #quantity {
  background: #fff;
  color: #0B0B0B;
  padding: 5px;
  border-radius: 100%;
  text-align: center;
  width: 40px;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 3rem !important;
    margin-bottom: 5px;
  }
  header #quantity {
    margin-top: 5px;
  }
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 900px) {
  h3 {
    font-size: 1.6rem;
  }
}

h4 {
  font-weight: 400;
}

p, span, ul, li, label, h4 {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  p, span, ul, li, label, h4 {
    font-size: 1.4rem;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

button {
  font-size: 1.8rem;
  background: #178082;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover, button:focus {
  background: #fff;
  color: #178082;
  border: 2px dashed #178082;
  background: transparent;
}

a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover, a:focus {
  color: #178082;
}

header {
  background: #178082;
  padding: 20px 0;
}

header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerContent .cartQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 430px) {
  header .headerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8vh;
  }
}

.cartHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.cartHead p {
  height: 47px;
  background: #178082;
  padding: 15px;
  border-radius: 6px;
  color: #fff;
}

.cartBarContent {
  background: #178082;
  padding: 15px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cartBarContent li {
  color: white;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .cartBarContent {
    display: none;
  }
}

.item ul {
  width: 89%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item ul .price {
  width: 60px;
}

.item ul p {
  color: #178082;
}

.item .itemName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item .itemName img {
  border-radius: 6px;
  display: block;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.item input {
  background: #D3F2ED;
  color: #2C2C2C;
  border: none;
  text-align: center;
  border-radius: 6px;
  height: 50px;
  width: 50px;
}

@media (max-width: 900px) {
  .item ul {
    width: 95%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 35vh;
    margin: 10% 3%;
    padding: 10px;
  }
}

@media (max-width: 660px) {
  .item ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.itemTwo {
  background: #D3F2ED;
  border-radius: 6px;
}

.itemTwo input {
  background: #fff;
}

.item i {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item i:hover, .item i:focus {
  color: #178082;
}

.checkout {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  .checkout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 10%;
  }
}

.comments h3 {
  padding-bottom: 4%;
}

.comments textarea {
  background: #178082;
  border-radius: 6px;
  resize: none;
  border: none;
  padding: 20px;
  color: #fff;
}

@media (max-width: 950px) {
  .comments {
    padding-bottom: 10%;
  }
  .comments textarea {
    width: 500px;
  }
}

@media (max-width: 565px) {
  .comments textarea {
    width: 400px;
  }
}

@media (max-width: 430px) {
  .comments textarea {
    width: 250px;
  }
}

.deliveryInfo {
  width: 30%;
}

.deliveryInfo h3 {
  padding-bottom: 4%;
}

.deliveryInfo p {
  color: #2C2C2C;
}

@media (max-width: 950px) {
  .deliveryInfo {
    width: 80%;
    padding-bottom: 10%;
  }
}

@media (max-width: 565px) {
  .deliveryInfo {
    width: 100%;
  }
}

.checkoutPay {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.checkoutPay .receipt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkoutPay .receipt .subTotal, .checkoutPay .receipt .addedTax, .checkoutPay .receipt .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
}

.checkoutPay .total {
  background: #D3F2ED;
  border-radius: 6px;
}

@media (max-width: 950px) {
  .checkoutPay {
    width: 80%;
  }
  .checkoutPay .total, .checkoutPay button {
    margin-bottom: 5%;
  }
}

@media (max-width: 565px) {
  .checkoutPay {
    width: 100%;
  }
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
}

.wrapper {
  max-width: 1380px;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 565px) {
  .wrapper {
    width: 95%;
  }
}
